* {
    font-family: 'Ubuntu', sans-serif;
    padding:0;
    margin:0;
    box-sizing: border-box; 
}

/* css do cabeçalho*/
header{
    width: 100%;
    height: 117px;
    background-color: #2E948A;
    display: flex;
    font-family: 'Ubuntu', sans-serif;
    justify-content:space-around;
    padding: 18px;    
}

li{
    display: flex;
    text-decoration: none;
    color: white;
    justify-content: flex-start;
    margin: 37px;
}

header li:hover{
    color: #38d1c2;
}

a{
    text-decoration: none;
    text-align: left;
    font-weight: bold;
}

.lista{
    display: flex;
    cursor:pointer;
}

/*css do html*/
input{
    background: #FFFFFF;
    font-size: 15px;
    border: 1px solid #686868;
    box-sizing: border-box;
    border-radius: 7px; 
    width: 493px;
    height: 32px;
    margin-bottom: 15px;
}

#pagina{
    display: flex;   
    margin: 80px 0 20px 150px; 
}

#formulario{
    display: flex;    
    flex-direction: column;
    margin-right: 140px;
    
}

#contato {
    color: #FF4081;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 40px;
}

#mensagem {
    width: 493px;
    height: 193px;
    background: #FFFFFF;
    border: 1px solid #686868;
    box-sizing: border-box;
    border-radius: 7px;
    font-size: 15px;
    margin-bottom: 15px;
}

#botao{
    width: 108px;
    height: 32px;
    font-weight: bold;
    color:white;
    background: #FF4081;
    border-radius: 15px;
    border-color:#FF4081;
 

    border: 2px solid #FF4081;
    background: linear-gradient(to right, #FFFFFF 50%, #FF4081 50%);
    background-size: 200% 100%;
    background-position: bottom right;
    transition: all 200ms;

    cursor: pointer;

}


 #botao:hover {
    background-position: left bottom;
    color: #FF4081;
}

footer{
    width: 100%;
    height: 160px;
    background-color: #419488;
    font-family: 'Ubuntu', sans-serif; 
    display: flex;
    justify-content: space-around; 
    padding: 30px;
   
}

footer li{ 
    color: white; 
    text-decoration: none;
    list-style-type: none;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold; 
    margin: 10px;

}

footer li:hover {
    color: #38d1c2;
}

footer a{
    text-decoration: none;
}

.botao button{
    cursor: pointer;
    color: white;
    background-color:#2E948A;
    border: 2px solid white; 
    border-radius: 62px;
    padding: 8px;
    width: 230px;

    background: linear-gradient(to right, #FFFFFF 50%, #2E948A  50%);
    background-size: 200% 100%;
    background-position: bottom right;
    transition: all 200ms;
}

.botao button:hover {
    background-position: left bottom;
    color: #2E948A ;
}
    
/*responsividade*/
@media (max-width: 1200px){
    header, footer{
        flex-wrap: wrap;
        justify-content: center;
        height: auto;
    }
    #pagina{
        margin: auto;
        padding: 20px 0 20px 50px;
    }

    #formulario{
        margin-top: 0px;
    }

    #imagem{
        width: 400px;
        height: 400px;
        margin-left: -100px;
    }

    input, #mensagem {
        width: 400px;
    }
}
/*telas de 600 px*/
@media (max-width: 600px){
    header{
        flex-wrap: wrap;
        justify-content: center;
        height: auto;
    }

    
    img{
        width: auto;
        height: auto;
    }
    
    #pagina{
        margin: auto;
        padding: 20px 0 20px 50px;
    }

    #formulario{
        margin-top: 150px;
    }

    h1{
        align-self: left;
    }

    #imagem{
        width: 180px;
        height: 180px;
        margin-left: -350px;
    }

    img{
        width: auto;
        height: auto;
    }

    input, #mensagem{
        width: 400px;
    }
}

