* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

html {
    margin: 0px;
}

body {
    margin: 0px;
}

.imagem-logo {
    margin: 0px;
}

.imagem-logo a {
    margin: 0px;
}

.imagem-logo img {
    margin: 0px;
}

.column {
    margin: 0px;
}

.row {
    display: flex;
    flex-direction: row;
}

/* Css header */

header {
    width: 100%;
    height: 117px;
    background-color: #2E948A;
    display: flex;
    justify-content: space-around;
    padding: 18px;
}

.lista-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

li {
    display: flex;
    text-decoration: none;
    color: white;
    justify-content: flex-start;
    margin: 37px;
}

header li:hover {
    color: #38d1c2;
}

.lista a {
    text-decoration: none;
    text-align: left;
    font-weight: bold;
}

.lista {
    display: flex;
    cursor: pointer;
}

main {
    margin: 1%;
}

a {
    text-decoration: none;
    color: #000000;
}

.banner {
    display: flex;
    justify-content: space-between;
    margin-top: 10%;
}

.banner #logobanner img {
    float: right;
    margin-left: 160px;
}

.banner #titulo h1 {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 69px;
    color: #FF4081;
}

.banner #titulo h2 {
    margin-top: 19px;
    margin-block-end: 38px;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 31px;
    color: #555555;
}

.banner #titulo button {
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 31px;
    border: 2px solid #FF4081;
    box-sizing: border-box;
    border-radius: 62px;
    width: 268px;
    height: 51px;
    color: #FF4081;
    background: linear-gradient(to right, #FF4081 50%, #FFFFFF 50%);
    background-size: 200% 100%;
    background-position: bottom right;
    transition: all 200ms;
    cursor: pointer;
}

.banner #titulo button:hover {
    background-position: left bottom;
    color: #FFFFFF;
}

.catalogoCursosBanner {
    padding: 3%;
    margin-top: 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    flex-basis: 100%;
}

.catalogoCursosBanner div {
    margin: 3%;
    justify-content: center;
}

.catalogoCursosBanner img {
    justify-content: center;
    height: 270px;
    max-width: 288px;
    align-items: center;
}

.catalogoCursosBanner h4 {
    justify-content: center;
    width: 100%;
    margin-top: 10%;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 29px;
    text-align: left;
    color: #FF4081;
}

.catalogoCursosBanner p {
    justify-content: center;
    margin-top: 23px;
    margin-block-end: 26px;
    width: 293px;
    height: 60px;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    color: #000000;
}

.catalogoCursosBanner a {
    justify-content: center;
    align-items: center;
    margin-left: 5%;
}

.catalogoCursosBanner button {
    justify-content: center;
    align-items: center;
    margin-left: 4%;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
    border: 2px solid #FF4081;
    background-color: #FF4081;
    box-sizing: border-box;
    border-radius: 62px;
    width: 250px;
    height: 51px;
    background: linear-gradient(to right, #FFFFFF 50%, #FF4081 50%);
    background-size: 200% 100%;
    background-position: bottom right;
    transition: all 200ms;
    cursor: pointer;
}

.catalogoCursosBanner button:hover {
    background-position: left bottom;
    color: #FF4081;
}

.comentarios {
    margin: 2%;
    padding-right: 5%;
    padding-left: 3%;
    box-sizing: border-box;
    flex-basis: 100%;
}

.comentarios h4 {
    margin-block-end: 5%;
    font-style: normal;
    font-weight: bold;
    font-size: 37px;
    line-height: 43px;
    color: #009688;
    width: 100%;
    height: 100%;
}

.comentarios h6 {
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
}

.comentarios img {
    width: 104px;
    height: 104px;
}

.comentarios p {
    margin-left: 5%;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
}

.comentarios #esquerda {
    width: 45%;
    height: 50%;
    float: right;
}

.comentarios #direita {
    width: 45%;
    height: 50%;
    float: left;
}

.comentarios #direita #wally {
    display: inline-flex;
    margin-block-end: 10%;
}

.comentarios #direita #whoopi {
    display: inline-flex;
}

.comentarios #esquerda #jaden {
    display: inline-flex;
    margin-block-end: 10%;
}

.comentarios #esquerda #jane {
    display: inline-flex;
}

.maisConteudo {
    margin: 0;
    margin-top: 40%;
    padding-top: 5%;
    padding-right: 5%;
    padding-left: 3%;
    align-items: center;
    box-sizing: border-box;
    flex-basis: 100%;
}

.maisConteudo h4 {
    margin-block-end: 5%;
    font-style: normal;
    font-weight: bold;
    font-size: 37px;
    line-height: 43px;
    color: #009688;
}

.maisConteudo #conteudo {
    display: flex;
    justify-content: stretch;
    align-items: center;
    box-sizing: border-box;
    margin-top: 5%;
    flex-basis: 100%;
}

.maisConteudo #rectangle {
    height: 193px;
}

.maisConteudoItem {
    flex: 1;
    margin-right: 10%;
}

.maisConteudoLista {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.maisConteudo div {
    padding-right: 3%;
}

.maisConteudo #ultima {
    padding-right: 0;
}

.maisConteudo h5 {
    margin: 2%;
    margin-left: 0px;
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    line-height: 31px;
    color: #009688;
}

.maisConteudo p {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20.68px;
    text-align: left;
}

#linkpost {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.maisConteudo #linkpost button {
    margin-top: 101px;
    margin-block-end: 53px;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 29px;
    color: #FF4081;
    border: 2px solid #FF4081;
    box-sizing: border-box;
    border-radius: 62px;
    width: 289px;
    height: 51px;
    background: linear-gradient(to right, #FF4081 50%, #FFFFFF 50%);
    background-size: 200% 100%;
    background-position: bottom right;
    transition: all 200ms;
}

.maisConteudo #linkpost button:hover {
    background-position: left bottom;
    color: #FFFFFF;
}

footer {
    width: 100%;
    background-color: #2E948A;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    justify-content: space-around;
    padding: 30px;
}

footer li {
    color: white;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Ubuntu', sans-serif;
    margin: 10px;
}

footer li:hover {
    color: #38d1c2;
}

footer a {
    text-decoration: none;
}

.lista {
    cursor: pointer;
}

.botao button {
    cursor: pointer;
    color: white;
    background-color: #2E948A;
    border: 2px solid white;
    border-radius: 62px;
    padding: 8px;
    width: 100%;
    background: linear-gradient(to right, #FFFFFF 50%, #2E948A 50%);
    background-size: 200% 100%;
    background-position: bottom right;
    transition: all 200ms;
}

.botao button:hover {
    background-position: left bottom;
    color: #2E948A;
}

.botao-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media only screen and (max-width:520px) {
    footer, header {
        flex-wrap: wrap;
        justify-content: center;
        height: auto;
        width: 110%;
        padding: 0px;
        margin: 0px;
    }
    * {
        padding: 0 auto;
        zoom: 0.95;
    }
    .banner {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    .banner #titulo h1 {
        font-size: 2rem;
        line-height: 40px;
    }
    .banner #titulo h2 {
        margin-top: 35px;
        margin-block-end: 20px;
        font-size: 2rem;
        line-height: 40px;
    }
    .banner #titulo button {
        margin-left: 0;
        font-size: 2rem;
        line-height: 100%;
        width: 80%;
        height: 15%;
        margin-top: 60px;
        margin-bottom: 36px;
    }
    .catalogoCursosBanner {
        margin: 0 auto;
        padding: 0 auto;
        margin-top: 30%;
        background-color: white;
        display: flex;
        flex-direction: column;
    }
    .catalogoCursosBanner div {
        padding-right: 30%;
    }
    .catalogoCursosBanner #ultima {
        padding-right: 0;
    }
    .catalogoCursosBanner h4 {
        font-size: 1.5rem;
        line-height: 30px;
    }
    .catalogoCursosBanner p {
        width: 100%;
        height: 65%;
        font-size: 1.2rem;
        line-height: 30px;
    }
    .catalogoCursosBanner button {
        font-size: 1rem;
        line-height: 20px;
        width: 50%;
    }
    .catalogoCursosBanner img {
        max-width: 100%;
    }
    .catalogoCursosContainer {
        flex: 1;
        padding-right: 0px !important;
    }
    .catalogoCursosContainer img {
        object-fit: contain;
        width: 100%;
    }
    .catalogoCursosContainer button {
        width: 100%;
        margin: 0px;
    }
    .comentarios {
        margin: 5%;
        margin-top: 30%;
        padding-right: 5%;
        padding-left: 3%;
        box-sizing: border-box;
        flex-basis: 100%;
        background-color: white;
        display: flex;
        flex-direction: column;
    }
    .comentarios h4 {
        margin-block-end: 2%;
        font-style: normal;
        font-weight: bold;
        font-size: 37px;
        line-height: 43px;
        color: #009688;
        width: 95%;
        height: 100%;
    }
    .comentarios h6 {
        font-family: 'Nunito', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 40px;
        line-height: 25px;
        color: #000000;
    }
    .comentarios img {
        width: 64px;
        height: 64px;
    }
    .comentarios p {
        margin-left: 3%;
        font-style: normal;
        font-weight: 300;
        font-size: 1rem;
        line-height: 33px;
    }
    .comentarios #esquerda {
        height: 45%;
    }
    .comentarios #direita {
        height: 50%;
    }
    .comentarios #direita #wally {
        display: flex;
        margin-block-end: 6%;
    }
    .comentarios #direita #whoopi {
        display: flex;
        margin-block-end: 6%;
    }
    .comentarios #esquerda #jaden {
        display: flex;
        margin-block-end: 6%;
    }
    .comentarios #esquerda #jane {
        display: flex;
    }
    .comentariosContainer {
        display: flex;
        flex-direction: column;
        margin: 0px !important;
    }
    .comentariosContainer #direita {
        display: flex;
        flex-direction: column;
        margin: 0px !important;
    }
    .comentariosContainer #esquerda {
        display: flex;
        flex-direction: column;
        margin: 0px !important;
    }
    .maisConteudo {
        margin-top: 20%;
    }
    .maisConteudo h4 {
        margin-top: 5%;
    }
    .maisConteudo h5 {
        font-size: 35px;
    }
    .maisConteudo p {
        font-size: 30px;
        line-height: 29px;
    }
    .maisConteudo #linkpost button {
        margin-top: 30%;
        font-size: 1rem;
        margin-left: 0px;
    }
    .maisConteudoLista {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .maisConteudo div {
        padding-right: 0px;
    }
    #conteudo {
        display: flex;
        flex-direction: column;
    }
    #logobanner {
        display: flex;
        justify-content: center;
    }
    #logobanner img {
        max-width: 75%;
        margin-left: 0px !important;
    }
}

@media only screen and (min-width:521px) and (max-width:700px) {
    * {
        zoom: 0.95;
        ;
    }
    header, footer {
        width: 130%;
    }
    .maisConteudo div {
        margin-right: 4%;
        width: 100%;
    }
    .maisConteudo h4 {
        margin-top: 3%;
    }
}

@media only screen and (min-width:701px) and (max-width:1060px) {
    * {
        zoom: 0.95;
        ;
    }
    header, footer {
        width: 110%;
    }
    .maisConteudo div {
        margin-right: 4%;
        width: 100%;
    }
    .maisConteudo h4 {
        margin-top: 3%;
    }
}